body{
    background-color: beige;
}


nav ul{
    display: flex;
    list-style: none;   
}
header nav{
    padding-inline: 60px;
    display: flex;
    justify-content: space-between;
}


nav ul li a
{
    text-decoration: underline;
} 

nav img{
    width: 80px;
    height: 80px;
}
nav ul li a{
    padding: 15px;
    color: black;
    text-decoration: none; 
}

section{
    margin-inline: 60px ;
}

button{
    float: right;
    background-color: brown;
    border: none;
    color: white;
    padding: 5px;
    margin-right: 5px;
}

article{
    width: 60%;
    margin-right: 100px;
    text-align: justify;
}

aside{
    margin-right: 0%;
    padding: 15px;
    width: 350px;
    height: fit-content;
    background-color: grey;
    text-align: justify;
    color: white;
    border-radius: 5px;

}

aside img{
    display: block;
    width: 80px;
    height: 80px;
    margin: auto;
}

aside h2{
    text-align: center;
}

aside ul{
    list-style: none;
    display: flex;
   justify-content: center;
   justify-content: space-around;  
}

footer{
    text-align: center;
}

div hr{
    border: none;
    border-top: 4px black dotted;
} 


header hr{
    border: none;
    border-top: 4px black dotted;
} 

.ab{
    display: flex;
    padding-right: 300px;
    justify-content: space-between;
    padding-left: 50px;

}
.ab div img{
    width: 80px;
    height: 50px;
    border: 10px blue solid;
}  

.ab div{
    padding-left: 50px;
    margin-bottom: 0px;
    margin-top: auto;

}
#a{
    position: relative;
    padding: 0%;
    height: 500px;
    width: 100%;
    
}

#b{
    width: 100%;
    height: 500px;
    margin: 0%;
    position: relative;
    border-radius: 5px;
}

#c{
    display: flex;
    margin-top: 10px ;
    justify-content: space-between;
}

#d{
    height: 40px;
    padding: 0px 10px;
    margin: 0%;
    padding-top:15px;
    background-color: rgb(255, 255, 255, 0.6);
    position: absolute;
    bottom: 0px;
    left: 0px;
    right: 0px;
    border-radius: 5px;
} 
#e{
    text-align: center;
}


